@font-face {
      font-family: 'quiza';
      src:  url('../fonts/quiza_pro_regular.eot?') format("eot"),
        url('../fonts/quiza_pro_regular.ttf') format("truetype"),
        url('../fonts/quiza_pro_regular.woff') format("woff");
}

@font-face {
    font-family: 'nooks_bold_s';
    src:  url('../fonts/nooks_bold_s.eot?') format("eot"),
      url('../fonts/nooks_bold_s.ttf') format("truetype"),
      url('../fonts/nooks_bold_s.woff') format("woff");
}

@font-face {
    font-family: 'nooks_reg';
    src:  url('../fonts/nooks_reg.eot?') format("eot"),
      url('../fonts/nooks_reg.ttf') format("truetype"),
      url('../fonts/nooks_reg.woff') format("woff");
}

body {
    font-family: 'quiza';
    font-size: 20px;
    background: #000;
    color: #FFFFFF;
}

h1, .h1 {
    color: #FFFFFF;
    font-size: 38px;
    font-family: 'nooks_bold_s';
}

h2, .h2 {
    font-size: 36px;
    font-family: 'nooks_reg';
}

.cursor-pointer {
    cursor: pointer;
}

.color-white {
    color: #FFFFFF;
}

.color {
    color: #eaaa00;
}

.btn-primary {
    color: #31261d;
    background: rgb(209,121,16);
    background: linear-gradient(0deg, rgba(209,121,16,1) 0%, rgba(243,180,15,1) 100%);
    border: transparent;
    padding: 30px 45px;
    border-radius: 50px;
    box-shadow: 0px 5px 15px 6px rgba(232, 165, 1, 0.4);
}

.btn-primary:hover {
    color: #31261d;
    background: rgb(209,121,16);
    background: linear-gradient(180deg, rgba(209,121,16,1) 0%, rgba(243,180,15,1) 100%);
    opacity: .9;
}

.swiper-button-next:focus, .swiper-button-prev:focus {
    outline: none;
}

header {
    padding: 20px 0 0 0;
    background: url('../img/header.png')no-repeat center;
    padding-bottom: 150px;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    opacity: .4;
}

nav a:hover {
    text-decoration: none;
    opacity: 1;
    color: #eaaa00;
}

a.phone {
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

a.phone:hover {
    color: #FFF;
    opacity: 0.7;
}

header h1 {
    margin: 100px 0 85px 0;
}

.header-title-sub {
    margin: 0 0 45px 0;
}

#info {
    padding: 40px 0 100px 0;
}

#info .col-md-4 {
    line-height: 0.9;
}

#info .title {
    font-family: 'nooks_reg';
    font-size: 86px;
    min-height: 189px;
    background: rgb(232,173,22);
    background: linear-gradient(90deg, rgba(232,173,22,1) 0%, rgba(207,120,23,1) 100%);
    -webkit-background-clip: text;  /* подробнее про background-clip */
    color: transparent;
    text-shadow: 0px 15px 1px #d7831033;
}

#info .sub_title {
    font-size: 22px;
    text-align: center;
    padding: 0 57px;
    display: inline-block;
}

#prez {
    background: url('../img/prez_bg.png')no-repeat center;
    padding: 50px 0;
}

.prez_paralax {
    background: url('../img/prez_bg_paralax.png')no-repeat center;
}

.prez_info {
    margin: 285px 0;
}

.prez_video {
    top: 50%;
    margin-top: -50px;
    left: 50%;
}

.btn-video {
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 0 0 0 10px;
    line-height: 100px;
}

.prez_video_text {
    font-size: 16px;
}

.text-video-big {
    font-size: 32px;
    line-height: 1;
}

.prez_bottom_text {
    opacity: .35;
    right: 100px;
    bottom: -125px;
}

.prez_bottom_text .title {
    font-size: 32px;
}

#profit h2 {
    margin-bottom: 50px;
}

.profit_text {
    left: 30px;
    bottom: 30px;
    font-size: 24px;
    line-height: 1.4;
}

.profit_profit {
    padding-left: 35px;
}

#profit .btn-primary {
    font-size: 20px;
    padding: 30px 55px;
}

#format {
    padding: 150px 0 200px;
    background: url(../img/format_bg.png)no-repeat center;
    background-size: cover;
}

#format h2 {
    margin-bottom: 100px;
}

.format_swiper .swiper-slide img {
    border-radius: 15px;
}

.swiper-button-prev {
    height: 80px;
    width: 80px;
    padding: 0;
}

.swiper-button-next {
    height: 80px;
    width: 80px;
    padding: 0;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    opacity: 1;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 35px;
}

.swiper-button-prev {
    left: -40px;
}

.swiper-button-next {
    right: -40px;
}

.format_slide_content {
    bottom: -65px;
    width: 65%;
    left: 30px;
    z-index: 2;
    padding: 30px;
    border-radius: 15px;
    background: url(../img/format_slide_bg.png)no-repeat center;
    background-size: cover;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.format_slide_content .title {
    font-size: 32px;
}

.format_slide_ico_text {
    padding-left: 32px;
}

.swiper-pagination {
    position: absolute;
    right: 30px;
    left: auto;
    display: inline-block;
    width: auto;
    font-size: 35px;
    font-weight: 700;
    bottom: -85px;
}

.swiper-pagination-current {
    color: #efad1a;
    font-size: 95px;
    text-shadow: -1px 4px 20px rgba(239, 173, 26, 0.7);
}

#party {
    padding: 100px 0;
}

#party h2 {
    margin-bottom: 100px;
}

#party .party-swiper-button-next, #party .party-swiper-button-prev {
    color: #f0ad0f;
    border-radius: 50%;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#party .party-swiper-button-next:after, #party .party-swiper-button-prev:after {
    font-family: swiper-icons;
}

#party .party-swiper-button-next:focus, #party .party-swiper-button-prev:focus {
    outline: none;
}

#party .party-swiper-button-next:after {
    content: 'next';
}

#party .party-swiper-button-prev:after {
    content: 'prev';
}

#party .party-swiper-button-next {
    right: -80px;
}

#party .party-swiper-button-prev {
    left: -80px;
}

#party .party-swiper-button-next:hover, #party .party-swiper-button-prev:hover {
    border: 2px solid #f0ad0f;
}

.swiper-pagination-party {
    text-align: center;
    margin-top: 8px;
}

#party .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #f0ad0f;
    opacity: 1;
    margin-right: 8px;
}

#party .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}

#party .swiper-slide a img {
    border-radius: 10px;
}

#party .swiper-slide a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/party_search.png)no-repeat center center;
}

#party .swiper-slide a:hover::after {
    background: url(../img/party_search_hover.png)no-repeat center center;
}

#party .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #f0ad0f;
}

#process {
    padding: 0 0 100px 0;
    background: url(../img/process_bg.png)no-repeat center;
}

#process h2 {
    margin-bottom: 50px;
}

#process .sub_title {
    margin-bottom: 40px;
    font-size: 22px;
}

.process_tabs_item {
    border-radius: 10px;
    height: 80px;
    margin-bottom: 20px;
    padding: 0 35px 0 20px;
    display: flex;
    align-items: center;
    background: #1e1915;
    font-size: 22px;
    cursor: pointer;
}

.process_tabs_item.active {
    color: #31261d;
    background: #f0ad0f;
}

.process_img img {
    width: 100%;
    border-radius: 15px;
}

.process_count {
    right: 30px;
    bottom: -90px;
}

.process_count .big {
    font-size: 95px;
    font-weight: 700;
    text-shadow: -1px 4px 20px rgba(239, 173, 26, 0.7);
}

.process_count .small {
    font-size: 35px;
    font-weight: 700;
}

#process .title {
    font-size: 36px;
}

.process_show_tab {
    display: none;
}

.process_show_tab:first-child {
    display: block;
}

#steps {
    padding: 70px 0;
}

#steps h2 {
    margin-bottom: 100px;
}

.steps_item {
    width: 140px;
    height: 140px;
    margin: 0px auto 5px auto;
    padding: 20px 0 0 0;
}

.steps_item:before {
    font-weight: 700;
    position: absolute;
    top: -29px;
    right: -36px;
    font-size: 81px;
    z-index: -1;
    color: #eaab30;
    opacity: 0.2;
}

.steps_item_1:before {
    content: '01';
}

.steps_item_2:before {
    content: '02';
}

.steps_item_3:before {
    content: '03';
}

.steps_item_4:before {
    content: '04';
}

.steps_item_5:before {
    content: '05';
}

#steps .text {
    padding: 0 20px;
}

.download_steps:hover {
    text-decoration: none;
    color: #efad1a;
}

.download_steps:hover span {
    border-bottom: 1px solid transparent;
}

.download_steps span {
    border-bottom: 1px dashed #efad1a;
}

#prez_2 {
    padding: 100px 0 50px 0;
    background: url(../img/prez_bg_2.png)no-repeat center;
    background-size: cover;
}

#prez_2 .prez_info {
    margin: 130px 0;
}

.prez_video_2 {
    top: 50%;
    margin-top: -50px;
    left: 50%;
}

#prez_2 .btn_pramery {
    color: #fff;
    border: 2px solid #efad1a;
    padding: 30px 45px;
    border-radius: 50px;
    bottom: 15px;
}

#prez_2 .btn_pramery:hover {
    opacity: .7;
}

#prez_2 .prez_bottom_text {
    bottom: 15px;
}

#suport {
    padding: 100px 0 30px 0;
}

#suport h2 {
    margin-bottom: 75px;
}

#video {
    padding: 100px 0;
}

#video h2 {
    margin-bottom: 75px;
}

.video_item {
    color: #fff;
}

.video_item:hover {
    color: #fff;
    text-decoration: none;
}

.video_city {
    top: 20px;
    position: absolute;
    left: 30px;
    font-weight: 700;
    font-size: 22px;
}

.video_play {
    font-size: 16px;
    top: 50%;
    margin-top: -63px;
    left: 50%;
    margin-left: -63px;
}

.video_item:hover .video_play {
    opacity: 0.7;
}

@media (max-width: 768px) {
    header {
        background: url('../img/header.png')no-repeat -238px center;
        padding-bottom: 20px;
        background-size: cover;
    }

    #info .sub_title {
        padding: 0 35px;
    }

    #prez {
        padding: 50px 0;
        background: url(../img/prez_bg.png)no-repeat -200px center;
    }

    .prez_info {
        margin: 50px 0 285px 0;
    }

    .prez_video {
        top: 133px;
        margin-top: 0;
        left: auto;
    }

    .profit_text {
        font-size: 20px;
    }

    #profit .btn-primary {
        font-size: 18px;
        padding: 30px 35px;
    }

    .format_slide_content {
        bottom: auto;
        left: auto;
        z-index: 2;
        padding: 20px 0;
        border-radius: 15px;
        background: transparent;
        background-size: cover;
    }

    #format .swiper-pagination {
        position: absolute;
        right: 20px;
        left: auto;
        display: inline-block;
        width: auto;
        font-size: 35px;
        font-weight: 700;
        bottom: auto;
        top: -110px;
    }

    #party {
        margin-top: 100px;
    }

    .process_slide {
        display: none;
    }

    .prez_video_2 {
        top: 133px;
        margin-top: 0;
        left: auto;
    }
    #prez_2 {
        background: url(../img/prez_bg_2.png)no-repeat -285px center;
    }

    #prez_2 .prez_info {
        margin: 100px 0;
    }

    #prez_2 .btn_pramery {
        bottom: -65px;
    }

    #suport .suport_text {
        padding: 0 45px;
    }
}