@font-face {
      font-family: 'quiza';
      src:  url('../fonts/quiza_pro_regular.eot?') format("eot"),
        url('../fonts/quiza_pro_regular.ttf') format("truetype"),
        url('../fonts/quiza_pro_regular.woff') format("woff");
}

@font-face {
    font-family: 'nooks_bold_s';
    src:  url('../fonts/nooks_bold_s.eot?') format("eot"),
      url('../fonts/nooks_bold_s.ttf') format("truetype"),
      url('../fonts/nooks_bold_s.woff') format("woff");
}

@font-face {
    font-family: 'nooks_reg';
    src:  url('../fonts/nooks_reg.eot?') format("eot"),
      url('../fonts/nooks_reg.ttf') format("truetype"),
      url('../fonts/nooks_reg.woff') format("woff");
}

body {
    font-family: 'quiza';
    font-size: 20px;
    background: #000;
    color: #FFFFFF;
}

h1, .h1 {
    color: #FFFFFF;
    font-size: 38px;
    font-family: 'nooks_bold_s';
}

h2, .h2 {
    font-size: 36px;
    font-family: 'nooks_reg';
}

.cursor-pointer {
    cursor: pointer;
}

.color-white {
    color: #FFFFFF;
}

.color {
    color: #eaaa00;
}

.btn-primary {
    color: #31261d;
    background: rgb(209,121,16);
    background: linear-gradient(0deg, rgba(209,121,16,1) 0%, rgba(243,180,15,1) 100%);
    border: transparent;
    padding: 30px 45px;
    border-radius: 50px;
    box-shadow: 0px 5px 15px 6px rgba(232, 165, 1, 0.4);
}

.btn-primary:hover {
    color: #31261d;
    background: rgb(209,121,16);
    background: linear-gradient(180deg, rgba(209,121,16,1) 0%, rgba(243,180,15,1) 100%);
    opacity: .9;
}

header {
    padding: 20px 0 0 0;
    background: url('../img/header.png')no-repeat center;
    padding-bottom: 150px;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    opacity: .4;
}

nav a:hover {
    text-decoration: none;
    opacity: 1;
    color: #eaaa00;
}

a.phone {
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

a.phone:hover {
    color: #FFF;
    opacity: 0.7;
}

header h1 {
    margin: 100px 0 85px 0;
}

.header-title-sub {
    margin: 0 0 45px 0;
}

#info {
    padding: 40px 0 100px 0;
}

#info .col-md-4 {
    line-height: 0.9;
}

#info .title {
    font-family: 'nooks_reg';
    font-size: 86px;
    min-height: 189px;
    background: rgb(232,173,22);
    background: linear-gradient(90deg, rgba(232,173,22,1) 0%, rgba(207,120,23,1) 100%);
    -webkit-background-clip: text;  /* подробнее про background-clip */
    color: transparent;
    text-shadow: 0px 15px 1px #d7831033;
}

#info .sub_title {
    font-size: 22px;
    text-align: center;
    padding: 0 57px;
    display: inline-block;
}

#prez {
    background: url('../img/prez_bg.png')no-repeat center;
    padding: 50px 0;
}

.prez_paralax {
    background: url('../img/prez_bg_paralax.png')no-repeat center;
}

.prez_info {
    margin: 285px 0;
}

.prez_video {
    top: 50%;
    margin-top: -50px;
    left: 50%;
}

.btn-video {
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 0 0 0 10px;
}

.prez_video_text {
    font-size: 16px;
}

.text-video-big {
    font-size: 32px;
    line-height: 1;
}

.prez_bottom_text {
    opacity: .35;
    right: 100px;
    bottom: -125px;
}

.prez_bottom_text .title {
    font-size: 32px;
}

@media (max-width: 768px) {
    header {
        background: url('../img/header.png')no-repeat -238px center;
        padding-bottom: 20px;
    }

    #info .sub_title {
        padding: 0 35px;
    }

    #prez {
        padding: 50px 0;
        background: url(../img/prez_bg.png)no-repeat -200px center;
    }

    .prez_info {
        margin: 50px 0 285px 0;
    }

    .prez_video {
        top: 133px;
        margin-top: 0;
        left: 0;
    }
}